annotated-types==0.8.0
defusedxml==0.7.1
et_xmlfile==2.0.0
linkify-it-py==2.2.0
markdown-it-py==4.2.0
mdit-py-plugins==0.6.1
mdurl==0.1.2
numpy==2.5.3
odfpy==1.4.1
openpyxl==3.1.5
pandas==3.0.6
platformdirs==4.12.2
pp==1.7.0
prompt_toolkit==3.0.53
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
python-calamine==0.8.2
python-dateutil==2.9.0.post0
pyxlsb==1.0.10
questionary==2.1.1
rich==15.0.0
six==1.17.0
SQLAlchemy==2.1.1
textual==8.2.8
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
wcwidth==0.9.1
xlrd==2.0.2
xlsxwriter==3.2.9
