annotated-types==0.8.0
defusedxml==0.7.1
et_xmlfile==2.0.0
numpy==2.5.3
odfpy==1.4.1
openpyxl==3.1.5
pandas==3.0.6
pp==1.7.0
pydantic==2.13.5
pydantic_core==2.46.5
python-calamine==0.8.2
python-dateutil==2.9.0.post0
pyxlsb==1.0.10
six==1.17.0
SQLAlchemy==2.1.1
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
xlrd==2.0.2
xlsxwriter==3.2.9
